<?xml version="1.0"?>
<ls_sysconfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <log_status>1</log_status>
  <web_status>0</web_status>
  <file_save>0</file_save>
  <video_size>4096</video_size>
  <img_size>0</img_size>
  <img_max_height>0</img_max_height>
  <img_max_width>0</img_max_width>
  <thumbnail_height>0</thumbnail_height>
  <thumbnail_width>0</thumbnail_width>
  <watermark_type>0</watermark_type>
  <watermark_position>0</watermark_position>
  <watermark_img_quality>0</watermark_img_quality>
  <watermark_transparency>0</watermark_transparency>
  <watermark_fontsize>0</watermark_fontsize>
  <file_path>/upload</file_path>
  <file_extension>jpg,png</file_extension>
  <video_extension>mp4</video_extension>
</ls_sysconfig>