<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!--BAsic Setting About Configuration-->
  <settings>
    <setting useStatementNamespaces="false"/>
    <setting cacheModelsEnabled="true"/>
  </settings>

  <providers resource="providers.config"/>
  <database>
    <provider name="sqlServer2008" />
    <dataSource name="SqlServer" connectionString="data source=.;database=ls_cms;user id=sa;password=1ab123456.;" />
  </database>
  <sqlMaps>
    <sqlMap  resource="Batis/tour_area.xml"/>
  </sqlMaps>
</sqlMapConfig>
